.main {
    position: relative;
    width: 100%;
}

.team__media, .language {
    width: 38%;
}

.team {
    padding: 3% 0 0 3%;

    &__container {
        display: flex;
        justify-content: center;
        width: 38%;
    }

    &__media, &__media>img {
        width: 100%;
    }

    &__message {
        padding: 8% 0 0 4%;
        width: 29%;
        font-family: Varela;
        font-size: 4rem;
        font-weight: 400s;
        text-transform: uppercase;
        word-spacing: 10px;
        letter-spacing: 4px;
        line-height: 1.1;
    }

    &__message>&__container {
        display: none;
    }

    .indent {
        padding-left: 60px;
    }

}

.language {
    justify-content: center;
    padding: 2% 0 0 3%;
    font-family: Varela;
    font-size: 3.6rem;
    text-transform: uppercase;
    color: #AFAFAF;
    
    &>* {
        margin-right: 1%;
    }
    
    &__elem {
        padding: 1%;

        border: 2px solid white;

        &--current {
            border: 2px solid black;
        }

        &:not(&--current):hover {
            border: 1px solid black;
            transition: border .1s;
        }
    }

    & &__elem--current > a {
        color: black ;
    }
    
    &__elem > a {
        color: #AFAFAF;
    }

    span {
        padding: 1% 1% 0 1%;
    }
}

menu {
    position: absolute;
    top: 0;
    right: 0;
    padding-right: 1%;
}

.nav {
    width: 100%;
    font-family: Varela;
    font-size: 16rem;
    letter-spacing: 16px;
    text-transform: uppercase;

    &>li {
        padding: 3.3% 0;
        text-align: right;
    }

    &>li:last-child {
        padding-bottom: 0;
    }
    
    &__link {
        transition: color .3s;
    }

    &__link:hover {
        // color: #3FED41;
        color: #6261F8;
        // color: #E46D29;
        transition: color .3s;
    }
}

@mixin mediaQueryDesktopContentResizing($mainTextSize, $ptTeam, $ptLang, $liPadding, $ls) {
    html {
        font-size: $mainTextSize;
    }
    
    .team {
        padding-top: $ptTeam;
    }
    
    .language {
        padding-top: $ptLang;
    }
    
    .nav {
        letter-spacing: $ls;
        &>li:not(li:last-child) {
            padding: $liPadding;
        }
        
    }
}

@media  screen and (max-width: 1700px) {
    @include mediaQueryDesktopContentResizing(9px, 5%, 3%, 4% 0, 15px);
}
@media  screen and (max-width: 1550px) {
    @include mediaQueryDesktopContentResizing(8px, 5%, 4%, 4% 0, 13px);
}
@media  screen and (max-width: 1400px) {
    @include mediaQueryDesktopContentResizing(7px, 6%, 6%, 5% 0, 11px);
}
@media  screen and (max-width: 1260px) {
    @include mediaQueryDesktopContentResizing(5px, 6%, 3%, 6% 0, 8px);
    .team__message {
        font-size: 23px;
        word-spacing: normal;
        width: 30%;
    }
}
@media  screen and (max-width: 1100px) {
    @include mediaQueryDesktopContentResizing(4px, 6%, 3%, 7% 0, 8px);
    .team__message {
        font-size: 19px;
    }
}

@media  screen and (max-width: 800px) {
    menu {
        display: none;
    }
    

    .team {
        display: block;
        width: 100%;

        &__container:not(&__message>&__container) {
            display: none
        }

        &__message>&__container {
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin: 8% 0;
            width: 100%;
        }

        &__message {
            padding: .5% 5% 0 2%;
            width: 100%;
            font-size: 40px;
            letter-spacing: normal;
            word-spacing: normal;
            text-align: justify;
            font-weight: 500;
            line-height: 1.2;
        }

        span {
            padding: 0%;
        }

        .indent {
            padding-left: 2px;
        }
        
    }

    .language {
        margin-top: 5%;
        width: 100%;
        font-size: 24px;
        line-height: 1;

        &__elem {
            border: 1px solid white;
            
            &--current {
                border: 1px solid black;
            }
        }
    }

    .indent-mobile {
        display: block;
        text-align: right;
    }
}