.main {
  position: relative;
  width: 100%;
}

.language {
  width: 40.5%;
}

.team {
  padding: 1% 0 0 1%;
}

.team__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40.5%;
}

.team__media, .team__media > img {
  width: 100%;
}

.team__message {
  padding: 9% 0 0 2%;
  width: 29%;
  font-family: Varela;
  font-size: 4rem;
  text-transform: uppercase;
  word-spacing: 10px;
  letter-spacing: 4px;
  line-height: 1.1;
}

.team__message > .team__container {
  display: none;
}

.team .indent {
  padding-left: 60px;
}

.team .indent-br {
  display: block;
}

.language {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0.3% 0 0 1%;
  font-family: Varela;
  font-size: 3.6rem;
  text-transform: uppercase;
  color: #AFAFAF;
}

.language > * {
  margin-right: 1%;
}

.language__elem {
  padding: 1%;
  border: 2px solid white;
}

.language__elem--current {
  border: 2px solid black;
}

.language__elem:not(.language__elem--current):hover {
  border: 1px solid black;
  -webkit-transition: border .1s;
  transition: border .1s;
}

.language .language__elem--current > a {
  color: black;
}

.language__elem > a {
  color: #AFAFAF;
}

.language span {
  padding: 1% 1% 0 1%;
}

menu {
  position: absolute;
  top: 0;
  right: 0;
  padding-right: 1%;
  max-height: 100%;
}

.nav {
  width: 100%;
  font-family: Varela;
  font-size: 16rem;
  letter-spacing: 16px;
  text-transform: uppercase;
}

.nav > li {
  padding: 3.3% 0;
  text-align: right;
}

.nav > li:last-child {
  padding-bottom: 0;
}

.nav__link {
  -webkit-transition: color .3s;
  transition: color .3s;
}

.nav__link:hover {
  color: #6261F8;
  -webkit-transition: color .3s;
  transition: color .3s;
}

@media screen and (max-width: 1700px) {
  html {
    font-size: 9px;
  }
  .team {
    padding-top: 5%;
  }
  .language {
    padding-top: 3%;
  }
  .nav {
    letter-spacing: 15px;
  }
  .nav > li:not(li:last-child) {
    padding: 4% 0;
  }
}

@media screen and (max-width: 1550px) {
  html {
    font-size: 8px;
  }
  .team {
    padding-top: 5%;
  }
  .language {
    padding-top: 4%;
  }
  .nav {
    letter-spacing: 13px;
  }
  .nav > li:not(li:last-child) {
    padding: 4% 0;
  }
}

@media screen and (max-width: 1441px) {
  .team {
    padding-top: 1%;
  }
  .team__container,
  .language {
    width: 39%;
  }
  .language {
    padding-top: 1%;
  }
  menu * {
    font-size: 15vh;
  }
  .nav > li:not(li:last-child) {
    padding: 4vh 0;
  }
}

@media screen and (max-width: 1100px) {
  menu * {
    font-size: 16rem;
  }
  html {
    font-size: 4px;
  }
  .team {
    padding-top: 6%;
  }
  .language {
    padding-top: 3%;
  }
  .nav {
    letter-spacing: 8px;
  }
  .nav > li:not(li:last-child) {
    padding: 7% 0;
  }
  .team__message {
    font-size: 19px;
  }
}

@media screen and (max-width: 800px) {
  menu {
    display: none;
  }
  .team {
    display: block;
    width: 100%;
  }
  .team__container {
    display: none;
  }
  .team__message > .team__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 8% 0;
    width: 100%;
  }
  .team__message {
    padding: .5% 5% 0 2%;
    width: 100%;
    font-size: 40px;
    letter-spacing: normal;
    word-spacing: normal;
    text-align: justify;
    font-weight: 500;
    line-height: 1.2;
  }
  .team span {
    padding: 0%;
  }
  .team .indent {
    padding-left: 2px;
  }
  .team .indent-br {
    display: unset;
  }
  .language {
    margin-top: 5%;
    padding-bottom: 3%;
    width: 100%;
    font-size: 24px;
    line-height: 1;
  }
  .language__elem {
    border: 1px solid white;
  }
  .language__elem--current {
    border: 1px solid black;
  }
  .indent-mobile {
    display: block;
    text-align: right;
  }
}
/*# sourceMappingURL=main.css.map */