.main {
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.team {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 50%;
}

.team__media {
  width: 82%;
  margin: auto;
}

.team__media > img {
  width: 100%;
}

.team__message {
  position: absolute;
  top: 21%;
  left: 47%;
  width: 24%;
  font-family: Varela;
  font-size: 2.2vw;
  text-transform: uppercase;
  word-spacing: 10px;
  line-height: 1.1;
}

.team__message > .team__container {
  display: none;
}

.team .indent {
  padding-left: 60px;
}

.team .indent-br {
  display: block;
}

.language {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  padding-bottom: 1%;
  font-family: Varela;
  font-size: 4.5vh;
  text-transform: uppercase;
  color: #AFAFAF;
}

.language > * {
  margin-right: 1%;
}

.language__elem {
  padding: 1%;
  border: 2px solid white;
}

.language__elem--current {
  border: 2px solid black;
}

.language__elem:not(.language__elem--current):hover {
  border: 1px solid black;
  -webkit-transition: border .1s;
  transition: border .1s;
}

.language .language__elem--current > a {
  color: black;
}

.language__elem > a {
  color: #AFAFAF;
}

.language span {
  padding: 1% 1% 0 1%;
}

.nav {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.5% 2% 0 0;
  height: 90.5vh;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-family: Varela;
  font-size: 9vw;
  font-weight: 100;
}

.nav > li {
  text-align: right;
}

.nav > li:last-child {
  padding-bottom: 0;
}

.nav__link {
  -webkit-transition: color .3s;
  transition: color .3s;
}

.nav__link:hover {
  color: #6261F8;
  -webkit-transition: color .3s;
  transition: color .3s;
}

@media screen and (max-width: 800px) {
  .nav {
    display: none;
  }
  .team {
    width: 100%;
    padding: 0;
  }
  .team > .team__media {
    display: none;
  }
  .team__message > .team__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 8% 0;
    width: 100%;
  }
  .team__message {
    position: static;
    padding: 5% 5% 0 5%;
    width: 100%;
    font-size: 40px;
    letter-spacing: normal;
    word-spacing: 20px;
    text-align: justify;
    font-weight: 500;
    line-height: 1.2;
  }
  .team span {
    padding: 0%;
  }
  .team .indent {
    padding-left: 2px;
  }
  .team .indent-br {
    display: unset;
  }
  .language {
    margin-top: 13%;
    padding-bottom: 3%;
    width: 100%;
    font-size: 24px;
    line-height: 1;
  }
  .language__elem {
    border: 1px solid white;
  }
  .language__elem--current {
    border: 1px solid black;
  }
  .indent-mobile {
    display: block;
    text-align: right;
  }
}
/*# sourceMappingURL=main.css.map */