.main {
    position: relative;
    justify-content: space-between;
    width: 100%;
}

.team {
    flex-direction: column;
    justify-content: space-between;
    // padding-top: 1%;
    width: 50%;

    &__media {
        width: 82%;
        margin: auto;
    }
    &__media>img {
        width: 100%;
    }

    &__message {
        position: absolute;
        top:21%;
        left:47%;
        width: 24%;
        font-family: Varela;
        font-size: 2.2vw;
        text-transform: uppercase;
        word-spacing: 10px;
        line-height: 1.1;
    }

    &__message>&__container {
        display: none;
    }

    .indent {
        padding-left: 60px;
    }

    .indent-br {
        display: block;
    }
}

.language {
    justify-content: center;
    margin: 0 auto;
    padding-bottom: 1%;
    font-family: Varela;
    font-size: 4.5vh;
    text-transform: uppercase;
    color: #AFAFAF;
    
    &>* {
        margin-right: 1%;
    }
    
    &__elem {
        padding: 1%;

        border: 2px solid white;

        &--current {
            border: 2px solid black;
        }

        &:not(&--current):hover {
            border: 1px solid black;
            transition: border .1s;
        }
    }

    & &__elem--current > a {
        color: black ;
    }
    
    &__elem > a {
        color: #AFAFAF;
    }

    span {
        padding: 1% 1% 0 1%;
    }
}


.nav {
    flex-direction: column;
    justify-content: space-between;
    padding: 0.5% 2% 0 0;
    // padding-right: 1%;
    height: 90.5vh;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-family: Varela;
    font-size: 9vw;
    font-weight: 100;

    &>li {
        text-align: right;
    }

    &>li:last-child {
        padding-bottom: 0;
    }
    
    &__link {
        transition: color .3s;
        // line-height: -1; 
    }

    &__link:hover {
        color: #6261F8;
        transition: color .3s;
    }
}

@media  screen and (max-width: 830px) {
    .nav {
        display: none;
    }
    

    .team {
        width: 100%;
        padding: 0;

        &>&__media  {
            display: none
        }

        &__message>&__container {
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin: 8% 0;
            width: 100%;
        }

        &__message {
            position: static;
            padding: 5% 5% 0 5%;
            width: 100%;
            // font-size: 40px;
            font-size: 10.7vw;
            letter-spacing: normal;
            word-spacing: 20px;
            text-align: justify;
            font-weight: 500;
            line-height: 1.2;
        }

        span {
            padding: 0%;
        }

        .indent {
            padding-left: 2px;
        }
        
        & .indent-br {
            display: unset;
        }
    }

    .language {
        margin-top: 13%;
        padding-bottom: 3%;
        width: 100%;
        font-size: 6.4vw;
        line-height: 1;

        &__elem {
            border: 1px solid white;
            
            &--current {
                border: 1px solid black;
            }
        }
    }

    .indent-mobile {
        display: block;
        text-align: right;
    }

}