html, body, div, span,
h1, h2, h3, h4, h5, h6, p,
a, img, ol, ul, li, menu {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
footer, header, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: black;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: AndaleMono;
  src: url("../../../fonts/AndaleMono.ttf");
}

@font-face {
  font-family: Montserrat;
  src: url("../../../fonts/Montserrat-Medium.ttf");
}

@-webkit-keyframes prompt {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes prompt {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes borderprompt {
  0% {
    border-right-color: transparent;
  }
  100% {
    border-right-color: #B2B2B2;
  }
}

@keyframes borderprompt {
  0% {
    border-right-color: transparent;
  }
  100% {
    border-right-color: #B2B2B2;
  }
}

.df {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

html {
  font-size: 10px;
}

.wrapper {
  position: relative;
  max-width: 100%;
}

.main {
  background-color: #fdfdfd;
}

.spec-violet {
  color: #6261F8;
}

.spec-orange {
  color: #E46D29;
}

.keytext {
  font-family: AndaleMono;
  padding: 0 1%;
  background-color: #4AE54B;
}

#type-source, #type-loop {
  display: none;
}

.type-cursor {
  display: inline-block;
  -webkit-transform: translate(0, -10%);
          transform: translate(0, -10%);
  -webkit-animation: prompt .7s infinite;
          animation: prompt .7s infinite;
}

.header {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1.2% 1.5%;
  font-size: 1.7vw;
  background-color: black;
  color: #B2B2B2;
  z-index: 4;
}

.header__menu--homepage, .header__menu-button, .header__menu-top {
  display: none;
}

.header__logo > a {
  text-transform: uppercase;
  color: #3FED41;
}

.header__logo > a:not(a:first-child) {
  color: #B2B2B2;
}

.header__logo > a:not(a:first-child):hover,
.header__logo > .header__text a:hover {
  color: #E46D29;
  -webkit-transition: color .3s;
  transition: color .3s;
}

.header__logo *, .header__logo {
  font-family: AndaleMono;
}

.header__logo {
  color: #B2B2B2;
}

.header__text > a {
  color: #B2B2B2;
}

.header__menu-button, .header__link {
  font-family: AndaleMono;
  color: #E46D29;
}

.header__link {
  text-transform: uppercase;
  -webkit-transition: color .3s;
  transition: color .3s;
}

.header__link--current {
  display: none;
}

.header__link:hover {
  color: #3FED41;
  -webkit-transition: color .3s;
  transition: color .3s;
}

.header__menu-top > a {
  border-bottom: 2px solid #3FED41;
}

.header__menu-top > a:hover {
  border-bottom-color: #E46D29;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
}

.header__list > li:not(li:last-child) {
  margin-right: 9%;
}

@media screen and (max-width: 830px) {
  .type-cursor {
    display: none;
  }
  .typed-cursor {
    display: none;
  }
  .open .header__logo,
  .open .header__menu-button {
    -webkit-animation: prompt 1s;
            animation: prompt 1s;
  }
  .header.open {
    position: fixed;
    top: 0;
    min-height: 100vh;
    -webkit-transition: min-height .3s;
    transition: min-height .3s;
  }
  .open > .header__menu {
    visibility: visible;
    -webkit-animation: prompt 1s;
            animation: prompt 1s;
  }
  .open .header__logo,
  .open .spec-violet {
    color: black;
  }
  .header__text,
  .header__line,
  .header.open ~ *,
  .header__mobile-hidden,
  .header.open .header__logo > a:first-child ~ * {
    display: none;
  }
  .header__menu-button,
  .header__menu-top,
  .header__list,
  .header__link--current,
  .header__menu--homepage {
    display: block;
  }
  .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 4.5% 5%;
    width: 100%;
    min-height: 0vh;
    word-spacing: 20px;
    font-size: 5.3vw;
    -webkit-transition: min-height .3s;
    transition: min-height .3s;
  }
  .header__body {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header__logo, .header__menu-button {
    letter-spacing: normal;
    word-spacing: normal;
  }
  .header:not(.open) > .header__menu {
    opacity: 0;
  }
  .header__menu {
    width: 100%;
    height: 0;
    visibility: hidden;
  }
  .header__menu--homepage {
    height: 0;
  }
  .header__menu-button {
    text-transform: uppercase;
  }
  .header__menu-top {
    margin: 10vh 0;
    text-align: center;
  }
  .header__list > li {
    padding-bottom: 6vh;
  }
  .header__list > li:before {
    content: '->';
    font-family: AndaleMono;
    font-size: 48px;
  }
  .header__list a {
    margin-left: 5%;
  }
  .header__link {
    color: #4AE54B;
    font-size: 48px;
    letter-spacing: normal;
  }
  .header__link:hover {
    color: #E46D29;
  }
  .header__link--current {
    display: block;
  }
}

.footer {
  position: relative;
  width: 100%;
  background-color: black;
}

.footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  padding: 1.7vh;
  width: 60%;
}

.footer__body::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 2;
}

.footer__item {
  z-index: 3;
}

.footer__item a {
  font-family: AndaleMono;
  font-size: 3.628vh;
  text-transform: uppercase;
  color: #3FED41;
  -webkit-transition: color .3s;
  transition: color .3s;
}

.footer__item a:hover {
  color: #E46D29;
  -webkit-transition: color .3s;
  transition: color .3s;
}

@media screen and (max-width: 830px) {
  .footer__body {
    padding: 2vh 0 10%;
    width: 87%;
  }
  .footer a {
    font-size: 16px;
  }
}

@font-face {
  font-family: AndaleMono;
  src: url("../fonts/AndaleMono.ttf");
}

@font-face {
  font-family: Montserrat;
  src: url("../fonts/Montserrat-Medium.ttf");
}

.main {
  text-transform: uppercase;
}

.k {
  width: 2%;
}

.k > svg {
  width: 100%;
  height: 100%;
}

.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 4% 0;
  font-size: 80px;
  font-family: Montserrat;
}

.title__text {
  text-align: center;
}

.team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.team__item {
  position: relative;
  margin-bottom: 2%;
  width: 22.92vw;
  height: 27.7vw;
  font-family: AndaleMono;
  background-color: white;
}

.team__item:hover img {
  visibility: visible;
}

.team__item:not(.team__item:first-child) .team__front, .team__item:not(.team__item:first-child) .team__back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.team__item:not(.team__item:first-child) .team__front::before, .team__item:not(.team__item:first-child) .team__back::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: inset -2px -2px 0px #262626, inset 2px 2px 0px #F0F0F0, inset -4px -4px 0px #7E7E7E;
          box-shadow: inset -2px -2px 0px #262626, inset 2px 2px 0px #F0F0F0, inset -4px -4px 0px #7E7E7E;
  z-index: 3;
}

.team__item:not(.team__item:first-child) .team__back {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.team__item:first-child .team__front::before, .team__item:first-child .team__back::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: inset -2px -2px 0px #262626, inset 2px 2px 0px #F0F0F0, inset -4px -4px 0px #7E7E7E;
          box-shadow: inset -2px -2px 0px #262626, inset 2px 2px 0px #F0F0F0, inset -4px -4px 0px #7E7E7E;
  z-index: 3;
}

.team__item:first-child .team__back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  min-height: 0;
  -webkit-transition: min-height .5s;
  transition: min-height .5s;
  background-color: black;
  z-index: 6;
}

.team__item:first-child .team__back * {
  visibility: hidden;
  opacity: 0;
}

.team__item:first-child .team__open {
  min-height: 100%;
  -webkit-transition: min-height .5s;
  transition: min-height .5s;
}

.team__item:first-child .team__open * {
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity .7s;
  transition: opacity .7s;
}

.team__back {
  color: white;
  background-color: black;
}

.team__button {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 3%;
  font-size: 1.11vw;
  z-index: 5;
}

.team__button > div {
  position: relative;
  padding: 2%;
  text-align: center;
}

.team__button > div:hover {
  cursor: pointer;
}

.team__button > div .svg {
  position: absolute;
  width: 15%;
}

.team__button > div .svg > svg {
  width: 100%;
  height: 100%;
}

.team__button > div .svg:nth-child(1) {
  top: 0;
  left: 0;
}

.team__button > div .svg:nth-child(2) {
  top: 0;
  right: 0;
}

.team__button > div .svg:nth-child(2) > svg {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.team__button > div .svg:nth-child(3) {
  right: 0;
  bottom: 0;
}

.team__button > div .svg:nth-child(3) > svg {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.team__button > div .svg:nth-child(4) {
  bottom: 0;
  left: 0;
}

.team__button > div .svg:nth-child(4) > svg {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.team__item:nth-child(1) .team__gif {
  background: url("../media/team/volodymyr-static.png") 50% 50% no-repeat;
  background-size: 85%;
}

.team__item:nth-child(2) .team__gif {
  background: url("../media/team/oleksandr-static.png") 50% 50% no-repeat;
  background-size: 80%;
}

.team__item:nth-child(3) .team__gif {
  background: url("../media/team/sonya-static.png") 50% 50% no-repeat;
  background-size: 90%;
}

.team__item:nth-child(4) .team__gif {
  background: url("../media/team/volodymyr-static.png") 50% 50% no-repeat;
  background-size: 85%;
}

.team__item:nth-child(5) .team__gif {
  background: url("../media/team/volodymyr-static.png") 50% 50% no-repeat;
  background-size: 100%;
}

.team__item:nth-child(6) .team__gif {
  background: url("../media/team/volodymyr-static.png") 50% 50% no-repeat;
  background-size: 85%;
}

.team__item:nth-child(7) .team__gif {
  background: url("../media/team/volodymyr-static.png") 50% 50% no-repeat;
  background-size: 85%;
}

.team__item:nth-child(8) .team__gif {
  background: url("../media/team/oksana-static.png") 50% 50% no-repeat;
  background-size: 85%;
}

.team__gif {
  width: 100%;
  margin-top: 14%;
}

.team__gif > img {
  width: 100%;
  visibility: hidden;
}

.team__name {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 4% 0;
  width: 100%;
  font-size: 1.4vw;
  text-align: center;
  color: white;
  background-color: black;
}

.team__info {
  padding: 0 6%;
  margin-top: 30%;
  text-align: center;
  font-size: 0.83vw;
  line-height: 1.2;
}

.team .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.team .team__link {
  position: relative;
  margin: 20% 5% 0 0;
  padding: 1.5% 2%;
  border: 1px solid #E46D29;
  z-index: 7;
}

.team .team__link > a {
  font-size: 0.83vw;
  color: white;
}

.team .team__link:hover {
  cursor: pointer;
  border-color: white;
  -webkit-transition: border-color .3s;
  transition: border-color .3s;
}

.team .team__link:hover > a {
  color: #3FED41;
  -webkit-transition: color .3s;
  transition: color .3s;
}

.content {
  margin-top: 5%;
  padding: 0 7%;
  font-size: 32px;
  font-family: Montserrat;
  text-align: justify;
}

.content__text {
  margin: 2% 0;
  line-height: 1.3;
}

.btn {
  font-family: Montserrat;
  display: block;
  margin: 8% auto;
  padding: 1% 1.4%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 3.333vw;
  background: #C3C3C3;
  -webkit-box-shadow: inset -2px -2px 0px #262626, inset 2px 2px 0px #F0F0F0, inset -4px -4px 0px #7E7E7E;
          box-shadow: inset -2px -2px 0px #262626, inset 2px 2px 0px #F0F0F0, inset -4px -4px 0px #7E7E7E;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.btn:hover {
  background-color: #838383;
  -webkit-box-shadow: inset 2px 2px 2px 0 black;
          box-shadow: inset 2px 2px 2px 0 black;
  -webkit-transition: all .3s;
  transition: all .3s;
}
/*# sourceMappingURL=temp.css.map */