@import 'reset/reset.scss';
@import 'header/header.scss';


@font-face {
    font-family: AndaleMono;
    src: url("../fonts/AndaleMono.ttf");
}
@font-face {
    font-family: Varela;
    src: url("../fonts/Varela.ttf");
}

